@media screen and (max-width: 430px) {
    main{
        flex-grow: 1;
    }
    
    /* Zona logo, account , hamburg menu */
    header {
        width: 100%;
        height: 5.4em;
        background-color: var(--header-color);
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a:nth-child(1){    /* link homepage */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav a:nth-child(2){    
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }


    nav a .logo {
        margin-left: 1.3em;
        margin-right: auto;
    }

    nav a .account {
        align-items: center;
        margin-left: 0.5em;
    }




    /* dropdown menu hamburger */

    nav .dropdownContenuto{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav .dropdownContenuto .hamburger-menu {
        margin-right: 1.6em;
        cursor: pointer;
    }

    .dropdownApparso{
        display: none;
        position: absolute;
        left: 70%;
        top: 5%;
        background-color: #008DDA;
        min-width:100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 8px;
        z-index: 1;
    }

    .dropdownContenuto a {
        color: #FFF;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .show {display: block;}
    

    /* titolo e p */

    .contenitore-titoli{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding-left: 26px;
        padding-right: 26px;
        margin-top: 23px;
        margin-bottom: 23px;
    }

    .contenitore-titoli a{
        width: fit-content;
    }

    .contenitore-titoli a  p{
        color: black;
        margin-bottom: 1.5em;
    }



    /* Form creazione eventi */

    .creazioneEventi-container{
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 26px;
        padding-right: 26px;
    }

    .creazioneEventi-container form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }




    .creazioneEventi-container form .titolo,.categoria,.dataInizio,.dataFine,.luogo,.descrizione,.immagine{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .creazioneEventi-container form label{
        margin-top: 20px;
    }

    .creazioneEventi-container form input{
        height: 30px;
    }










    /* crea eventi bottone */

     form .contenitore-creazione{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 23px;
    }


     form .contenitore-creazione .creazione-eventi{
        width: 190px;
        height: 42px;
        background-color: #008DDA;
        color: #FFF;
        border-radius: 4px;
        font-size: 18px;
    }


    /* footer */

    footer {
        width: 100%;
        height: 345px;
        background-color: var(--header-color);
        margin-top: 72px;
    }

    .contenitore-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    .contenitore-footer .logo {
        margin-top: 3.4vh;
    }

    .contenitore-loghi {
        margin-top: 2vh;
    }

    .contenitore-loghi img:nth-child(-n + 4) {
        margin-right: 2vw;
    }

    .contenitore-scritte {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1.2em;
    }

    .contenitore-scritte p {
        color: white;
    }

    .contenitore-ricerca {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .contenitore-ricerca p {
        color: white;
        margin-right: 16px;
    }

    .contenitore-riserve {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }


}