    main {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    main::--webkit-scrollbar {
        display: none;
    }
    
    /* Zona logo, account , hamburg menu */
    header {
        width: 100%;
        height: 5.4em;
        background-color: var(--header-color);
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a:nth-child(1){    /* link homepage */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav a:nth-child(2){    
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }


    nav a .logo {
        margin-left: 1.3em;
        margin-right: auto;
    }

    nav a .account {
        align-items: center;
        margin-left: 0.5em;
    }



    /* titolo e p */

    .contenitore-titoli{
        width: 100%;
        
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding-left: 26px;
        padding-right: 26px;
        margin-top: 23px;
        margin-bottom: 23px;
    }

    .contenitore-titoli a{
        width: fit-content;
    }

    .contenitore-titoli a  p{
        color: black;
        margin-bottom: 1.5em;
    }



    /* Form creazione eventi */

    .creazioneEventi-container{
        width: 100%;

        display: flex;
        padding-left: 26px;
        padding-right: 26px;
    }

    .creazioneEventi-container form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }




    .creazioneEventi-container form .titolo,.categoria,.data_inizio,.data_fine,.luogo,.descrizione,.immagine{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .creazioneEventi-container form label{
        margin-top: 20px;
    }

    .creazioneEventi-container form input{
        height: 30px;
    }










    /* crea eventi bottone */

     form .contenitore-creazione{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 23px;
    }


     form .contenitore-creazione .creazione-eventi{
        width: 190px;
        height: 42px;
        background-color: #008DDA;
        color: #FFF;
        border-radius: 4px;
        font-size: 18px;
    }


  