/* footer */

footer {
    width: 100%;
    background-color: var(--header-color);
}

.contenitore-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.contenitore-footer .logo {
    margin-top: 3.4vh;
}

.contenitore-loghi {
    margin-top: 2vh;
}

.contenitore-loghi img:nth-child(-n + 4) {
    margin-right: 2vw;
}

.contenitore-scritte {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.2em;
}

.contenitore-scritte p {
    color: white;
}

.contenitore-scritte p:nth-child(2){
    margin-top: 0.5em;
}


.contenitore-ricerca {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 1em;
}
.contenitore-ricerca p {
    color: white;
    margin-right: 16px;
}

.contenitore-riserve {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 1em;
}

.contenitore-riserve p:nth-child(2){
    margin-top: 0.5em
}