*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Titillium Web", Courier, monospace;
}
:root {
    --header-color: #0E3D59;
    --nero: #000000;
    --scritta-registrati: #008DDA;
    --bianco: #ffffff;
    /* variabili
        -- nomevariabile 

    */
}

body{
    background-color: #FFFFFF;
    display: flex;      
    flex-direction: column;
    min-height: 100vh;     /* per far in modo che il footer stia sempre sotto */
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
    background-color: var(--scritta-registrati);

}

ul li{
    display: inline-block;
    position: relative
}
