main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::--webkit-scrollbar {
    display: none;
}

/* Zona logo, account , hamburg menu */
header {
    width: 100%;
    height: 5.4em;
    background-color: var(--header-color);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:nth-child(1) {
    /* link homepage */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a .logo {
    margin-left: 1.3em;
    margin-right: auto;
}

nav .account {
    align-items: center;
    margin-right: 1em;
}



/* foto hero */

.contenitore-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    position: relative;
}

.contenitore-hero .foto-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenitore-hero h1 {
    position: absolute;
    top: 10%;
    font-size: 13px;
    font-family: "Rock Salt", "Titilium Web";
    color: var(--bianco);
    margin: 30px 0 30px 0;
    text-align: center;
}

/* contenitore ricerca */

.contenitore-search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenitore-search form {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 30%;
    padding: 0 22px 0 22px;
}

.contenitore-search form input {
    width: 100%;
    height: 30px;
    padding-left: 30px;
}

.contenitore-search form .lente-img {
    position: absolute;
    top: 50%;
    left: 6%;
    right: 10px;
    transform: translateY(-50%);
    width: 22px;
}

.contenitore-search form .filtro-img {
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translateY(-50%);
    width: 20px;
}

