
    main {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    main::--webkit-scrollbar {
        display: none;
    }
    
    /* Zona logo, account , hamburg menu */
    header {
        width: 100%;
        height: 5.4em;
        background-color: var(--header-color);
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a:nth-child(1){    /* link homepage */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a .logo {
        margin-left: 1.3em;
        margin-right: auto;
    }


    nav .account {
        margin-right: 1em;
    }

    
    /* Zona contenuto */

    .consiglio-registrazione-container {
        width: 100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2.8em;
    }

    .consiglio-registrazione-container h1 {
        color: var(--nero);
        font-size: 22px;
        margin-bottom: 12px;
    }

    .consiglio-registrazione-container h3 {
        color: #acacac;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .consiglio-registrazione-container h2 {
        color: var(--scritta-registrati);
        font-size: 16px;
        
    }

    /* zona dove si inseriranno i dati */

    .accesso-container {
        width: 100%;
        
        padding-left: 31px;
        padding-right: 26px;
    }

    .accesso-container form:nth-child(1) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2.9em;
    }

    .accesso-container form:nth-child(1) input {
        width: 378px;
        padding-left: 5px; /* spazio dentro l'input */
        height: 40px;
    }

    .accesso-container form:nth-child(1) .campo {
        font-size: 18px;
        margin-bottom: 0.8em;
    }

    .accesso-container form:nth-child(2) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }

    .accesso-container .contenitore-conferma p {
        font-size: 12px;
        color: #acacac;
    }

    .accesso-container .contenitore-conferma p b {
        color: black;
    }

    /* bottone registrati */


    .accesso-container .accedi {
        width: 378px;
        height: 46px;
        font-size: 18px;
        background-color: var(--scritta-registrati);
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 1px 4px #000000;
        margin-top: 2em;
    }

    
    /* problemi con accesso */

    .problemi-accesso {
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.3vh;
        color: #acacac;
    }

