@media screen and (max-width: 430px) {
    /* Zona logo, account , hamburg menu */
    header {
        width: 100%;
        height: 5.4em;
        background-color: var(--header-color);
    }

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo {
        margin-left: 1.3em;
        margin-right: auto;
    }

    nav .account {
        margin-right: 1em;
    }

    nav .hamburger-menu {
        margin-right: 1.6em;
    }

    /* Zona contenuto */

    .consiglio-registrazione-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2.8em;
    }

    .consiglio-registrazione-container h1 {
        color: var(--nero);
    }

    .consiglio-registrazione-container h2 {
        color: var(--scritta-registrati);
    }

    .consiglio-registrazione-container h3 {
        color: #acacac;
    }

    /* zona dove si inseriranno i dati */

    .accesso-container {
        width: 100%;
        height: 100%;
        padding-left: 31px;
        padding-right: 26px;
    }

    .accesso-container form:nth-child(1) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2.9em;
    }

    .accesso-container form:nth-child(1) input {
        width: 100%;
        padding-left: 5px; /* spazio dentro l'input */
    }

    .accesso-container form:nth-child(1) .email,
    .password {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .accesso-container form:nth-child(2) {
        /* Mantieniti collegato */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .accesso-container form:nth-child(2) input {
        /* Quadratino affianco mantieniti collegato */
        margin-right: 8px;
    }

    /* bottone accedere */

    .accesso-container .contenitore-bottone {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.1em;
    }

    .accesso-container .contenitore-bottone .accedi {
        width: 100%;
        height: 46px;
        font-size: 18px;
        background-color: var(--scritta-registrati);
        color: #ffffff;
    }

    /* accessi alternativi linea intermezzo */

    .accessi-alt-contenitore {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4.5vh;
    }

    .accessi-alt-contenitore .linea {
        width: 100%;
        height: 1px;
        background-color: #acacac;
        margin: 0 5px 0 5px;
    }

    .accessi-alt-contenitore p {
        color: #acacac;
        font-size: 18px;
    }

    /* accessi con facebook gogole e apple */

    .contenitore-accessi {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 41px;
    }

    .contenitore-accessi .social-login {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #ffffff;
        border: 1px black solid;
        border-radius: 4px;
        font-size: 18px;
    }

    .contenitore-accessi img {
        position: absolute;
        left: 45px;
        z-index: 999;
    }


    /* problemi con accesso? */

    .problemi-accesso {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.3vh;
        color: #acacac;
    }

    /* footer */

    footer {
        width: 100%;
        height: 345px;
        background-color: var(--header-color);
        margin-top: 72px;
    }

    .contenitore-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    .contenitore-footer .logo {
        margin-top: 3.4vh;
    }

    .contenitore-loghi {
        margin-top: 2vh;
    }

    .contenitore-loghi img:nth-child(-n + 4) {
        margin-right: 2vw;
    }

    .contenitore-scritte {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1.2em;
    }

    .contenitore-scritte p {
        color: white;
    }

    .contenitore-ricerca {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .contenitore-ricerca p {
        color: white;
        margin-right: 16px;
    }

    .contenitore-riserve {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
}
